*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.light{
  color: #222;
  background-color: #fefefefe;
}
body.dark{
  color: #fefefefe;
  background-color: #222;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 1px solid #eeee;
  padding: 35px;
}
h1{
  font-weight: bolder;
  margin-block: 14px;
  font-family: Times New Roman;
}
button{
  width: 80%;
  padding: 6px 10px;
  font-size: 12px;
}